.overlay-card {
  background-color: rgb(255, 145, 0);
  color: white;
  padding: 0; /* Remove padding */
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 800px; /* Set the desired width for the overlay card */
  border-radius: 8px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.overlay-card-content {
  text-align: center;
  margin: 16px; /* Add margin around the content */
  font-size: 22px;
  font-family: Arial; /* Correct font property */
}

  