
.cart-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f987d1;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px; /* Adjust the value to control the roundness of the edges */
}



.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as desired */
  z-index: 9999; /* Make sure it's above other elements */
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-button:hover {
  background-color: #ef65bf;
  cursor: pointer;
}



.close-button {
  background-color: #ffffff;
  color: #ff0000;
  border: 1px solid #ff0000;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px; /* Adjust the value to control the roundness of the edges */
  cursor: pointer;
  transition: background-color 0.3s ease;
}



.close-button:hover {
  background-color: #ffffff;
  color: #000000;
}


.place-order-button {
  background-color: #ffae00;
  color: #000000 ;
  border: 1px solid #000000;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px; /* Adjust the value to control the roundness of the edges */
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  margin-bottom: 10px;
}



.place-order-button:hover {
  background-color: #ebebeb;
}