.food-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
    max-width: 800px; 

    margin: 0 auto;
    transform: translateY(80%);
    text-align: left;
    margin-top: -80px;
  }
  
  .food-card-title {
    text-align: center;
    background-color: #fc3d3ad4; /* Set the desired background color for the heading */
    color: white; /* Set the desired text color for the heading */
    padding: 10px; /* Add padding to adjust the spacing */
    border-radius: 8px; /* Set the desired border radius value for rounded edges */
  }
  
  .food-card-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
  }
  
  .food-card-items li {
    margin-bottom: 20px;
    position: relative;
    text-align: left;
    margin-right: 30px;
  }


  .food-card-items li::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    bottom: -5px;
    left: 0;
  }